@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.scroll{
    -fx-background-color: linear-gradient(to top right, #16222A, #3A6073);
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: white;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: gray;
    -fx-background-radius: 5em;
}

.labelText{
    -fx-font-family:'Press Start 2P';
    -fx-font-size: 30pt;
    -fx-text-fill: #FDB915;
}

.toggleButton{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.toggleButton:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.buttonExit{
    -fx-background-color: #FD4659;
    -fx-cursor: hand;

}

.buttonExit:hover{
    -fx-background-color: #FF073A;
    -fx-cursor: hand;
}

